# Configuración de Servidor y Conexión MySQL para Dal
PORT=4000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=dal_db
DB_PORT=3306

# Pasarela de Pagos Stripe (Modo Prueba)
STRIPE_SECRET_KEY=sk_test_...
STRIPE_PUBLISHABLE_KEY=pk_test_...
